html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    font-size: clamp(1rem, 1vw, 12rem);
}

section {
    overflow: hidden;
}

html,
button, input, optgroup, select, textarea {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

.body {
    overflow-x: hidden;
    /* overflow-y: hidden; */
}

/* BANNER SECTION */
.banner {
    display: flex;
    position: relative;
    align-items: center;
}

/* NAVIGATION & SIDENAV */
.sidenav {
    justify-content: center;
    align-items: center;
    width: 45vw;
    z-index: 1001;
}

.sidenav-logo {
    display: flex;
    justify-content: center;
    width: 100%;
}

.sidenav-logo img {
    width: 100%;
    height: 100%;
}

.sidenav-banner .background {
    width: 100%;
    height: 10vh;
}

.show-nav {
    transform: translateY(0%);
    transition: transform 0.3s ease;
}

.hidden-nav {
    transform: translateY(-100%);
    transition: transform 0.3s ease;
}

/* Change position for Contact-us Button */
.bottom-right {
    transform: translateY(80vh);
    transition: transform 0.3s ease; /* Add smooth transition effect */
}

nav ul li a:hover {
    background-color: white !important;
}

.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 4%;
    padding-right: 4%;
}

.nav-wrapper#navbar-top {
    background: linear-gradient(to bottom left, rgb(211, 192, 192) -90%, whitesmoke);
    width: auto;
}

.nav-wrapper#navbar-bottom {
    background: linear-gradient(to bottom, rgb(227, 215, 215) -90%, whitesmoke);
}

.nav-wrapper .navbar-logo {
    max-width: 15vw;
    display: flex;
}

.nav-wrapper .navbar-logo img {
    max-width: 100%;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.nav-wrapper.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-wrapper.content a {
    padding-left: 3vw;
    padding-right: 3vw;
}

.navbar-address {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 35%;
}

.navbar-address p {
    margin: 0;
    padding: 0;
    line-height: 1.2;
    text-align: center;
}

.navbar-address span {
    padding: 1px;
    margin: 1px;
}

.navbar-address p {
    padding: 0;
    margin: 0;
}

.hamburger-icon {
    display: flex;
    justify-content: flex-end;
}

.contact-us {
    position: fixed;
    margin-top: 7vh;
    z-index: 1000;
    width: 18vw;
    right: 4vw;
    height: auto;
    cursor: pointer; 
    transition: transform 0.3s ease;
}

.contact-us img {
    width: 100%; /* Set width to 100% to fill the parent div */
    height: 100%; /* Set height to 100% to fill the parent div */
    cursor: pointer;
    transition: filter 0.3s ease-out;
}

.contact-us img:hover {
    filter: brightness(1.2);
    transition: filter 0.3s ease;
}

/* LANDING SECTION */
.landing {
    background: url(../imgs/bg/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.landing-elements {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    bottom: 20vh;
    left: 3vw;
    max-width: 45vw;
    z-index: 1;
}

.landing-elements h4 {
    text-shadow: 1px 2px 2px black;
}

.landing-elements h5 {
    text-shadow: 1px 2px 2px rgb(54, 70, 62);
    /* font-size: 2vw; */
}

.landing-elements .reservasi-button a {
    justify-content: center;
    border-radius: 30px;
    margin-top: 5vh;
    font-size: larger;
    width: 13vw;
}

.landing-overlay {
    background: linear-gradient(to top, rgb(7, 194, 135), rgb(255, 0, 0, 0));
    width: 100%;
    height: 100%;
    opacity: 0.5;
    position: absolute;
}

/* ABOUT SECTION */
.about {
    background: url(../imgs/bg/bg-2.png);
    background-size: cover;
    background-position: bottom left;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

/* .about-overlay {
    background: linear-gradient(to right, rgb(95, 254, 183), rgb(255, 0, 0, 0));
    width: 100%;
    height: 100%;
    opacity: 0.3;
    position: absolute;
} */

.about-elements {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80vw;
    z-index: 1;
}

.about-images {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}

.about-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 3.5vw;
}

.click-button {
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.click-button:active {
    animation: click-animation 0.2s ease-in-out;
}

@keyframes click-animation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.7);
    }
    100% {
        transform: scale(1);
    }
}

.about-images #about-img-1 {
    width: 80%;
    align-self: center;
    border-radius: 20px;
}

.about-images #about-img-2 {
    width: 80%;
    align-self: center;
    border-radius: 20px;
}

#carousel-about-img-1 {
    /* flex: 1; */
    /* height: 30vh; */
}

#carousel-about-img-1 .carousel-item img {
    width: 100%;
    /* height: 100%; */
    object-fit: contain;
}

#carousel-about-img-2 {
    /* flex: 1; */
}

#carousel-about-img-2 .carousel-item img {
    width: 100%;
    /* height: 100%; */
    object-fit: contain;
}

.about-text {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
}

.about-text .about-logo {
    align-self: center;
    min-width: 150px;
    max-width: 15vw;
}

.about-text img {
    align-self: center;
    height: 100%;
    width: 100%;
}

.about-text div h4 {
    text-shadow: 1px 2px 2px rgb(201, 201, 201);
}

.about-text p {
    font-size: large;
}

/* SCHEDULE SECTION */
.schedule {
    background: url(../imgs/bg/bg-3.png);
    /* background: linear-gradient(to right, rgb(7, 194, 135), rgb(255, 0, 0, 0)); */
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* .schedule-overlay {
    background: linear-gradient(to right, rgb(95, 254, 183), rgb(255, 0, 0, 0));
    height: 100vh;
    width: 100%;
    opacity: 0.3;
    position: absolute;
} */

.schedule .schedule-title {
    position:absolute;
    justify-content: start;
    vertical-align: top;
    top: 5vh;
    right: 15vw;
    z-index: 2;
}

.schedule .schedule-title h4 {
    text-shadow: 1px 2px 2px rgb(201, 201, 201);
}

.schedule .schedule-cards {
    width: 100vw;
    height: 70vh;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transform-style: preserve-3d;
    transform-origin: 0% 50%;
    perspective: 500px; */
}

.schedule-cards #schedule {
    height: 100%;
    width: 100%;
    /* position: relative; */
    /* overflow: hidden; */
    /* perspective: 500px; */
    /* display: flex;
    align-items: center;
    justify-content: center; */
    z-index: 1;
}

#schedule .carousel-item {
    /* border-radius: 20px;
    min-width: 15vw;
    max-width: 60vw; */
    /* width: 20vw; */
}

.card {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* min-width: 10vw; */
    /* max-width: 50%; */
    /* max-height: 70vh; */
}

.card-image img {
    /* background-color: white;
    width: 100%;
    height: 100%;
    max-height: 50vh;
    object-fit: contain; */
}

.card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    /* max-width: 80%; */
}

.card-content button {
    /* margin: 0;
    max-height: 40%;
    max-width: 100%; */
}

.card-content button p {
    font-size: smaller;
}

.card-content .jadwal {
    border-radius: 25px;
}

/* RESULT SECTION */
.result {
    /* background: gainsboro; */
    background: url(../imgs/bg/bg-4.png);
    /* background: linear-gradient(to right, rgb(7, 194, 135), rgb(255, 0, 0, 0)); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    min-height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

/* .result-overlay {
    background: linear-gradient(to right, rgb(95, 254, 183), rgb(255, 0, 0, 0));
    height: 100vh;
    width: 100%;
    opacity: 0.3;
    position: absolute;
} */

.result .result-title {
    position:absolute;
    justify-content: end;
    vertical-align: top;
    top: 5vh;
    left: 15vw;
}

.result .result-title h4 {
    text-shadow: 1px 2px 2px rgb(201, 201, 201);
}

.slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}

.carousel-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 23vw;
    height: 100%;
}

.carousel-slider .carousel-item {
    background-color: white;
    border-radius: 20px;
}

.carousel-slider .carousel-item img {
    border-radius: 20px;
    object-fit: contain;
}

.testimony {
    background-color: blue;
    width: 40vw;
}

/* LOCATION SECTION */
.location {
    background: url(../imgs/bg/bg-5.png);
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

/* .location-overlay {
    background: linear-gradient(to right, rgb(95, 254, 183), rgb(255, 0, 0, 0));
    height: 100vh;
    width: 100%;
    opacity: 0.3;
    position: absolute;
} */

.location-elements {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    padding: 0;
    margin: 0;
}

.map-images {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 2vw;
    padding: 0;
    margin: 0;
}

.location-logo {
    display: flex;
    justify-content: center;
    max-width: 15vw;
}

.location-logo img {
    width: 100%;
}

.location-image img {
    border-radius: 20px;
    min-width: 14vw;
}

.map-images .map-location iframe{
    border-radius: 20px;
    max-width: 35vw;
    max-height: 50vh;
}

.address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.address .address-detail {
    margin-bottom: 1vh;
    padding: 0 2vw 1vh 2vw;
    border-radius: 30px;
    max-width: 70vw;
    align-self: center;
}

.socials {
    margin-top: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    gap: 10vw;
}

.socials a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5vw;
}

.socials .instagram-text {
    border-radius: 30px;
    padding: 0 1vw 1vh 1vw;
}

.socials .facebook-text {
    border-radius: 30px;
    padding: 0 1vw 1vh 1vw;
}

/* SMALL SCREEN - VERTICAL*/
@media (max-width: 992px) {
    .show-nav {
        transform: translateY(0);
        transition: transform 0.3s ease;
    }

    .hidden-nav {
        transform: translateY(-100%);
        transition: transform 0.3s ease;
    }

    .navbar-address {
        display: none;
    }
    
    .nav-wrapper.content {
        display: none;
    }

    .contact-us {
        margin-top: unset;
        width: 25vw;
        bottom: 2vh;
        right: 5vw;
    }

    .landing-elements {
        justify-content: center;
        align-items: center;
        left: auto;
        bottom: 30vh;
        text-align: center;
        max-width: 70vw;
    }

    .landing-elements h1 {
        text-shadow: 1px 2px 2px black;
    }

    .landing-elements #reservasi-button {
        min-width: 150px;
        width: 20vw;
    }

    .about-images {
        /* width: 45%; */
        width: auto;
    }

    .schedule .schedule-title {
        right: auto;
        top: 1vh;
    }

    .card-content button p {
        font-size: small;
    }

    .jadwal p {
        font-size: small;
    }

    .location-image {
        display: none;
    }

    .map-images .map-location iframe{
        max-width: 80vw;
        max-height: 40vh;
    }
}

@media (max-width: 450px) {
    .nav-wrapper .navbar-logo {
        max-width: 25vw;  
    }

    .nav-wrapper .navbar-logo img {
        max-width: 100%;
        /* max-height: 4vh; */
        object-fit: cover;
        margin-top: 3vh;
        margin-bottom: 3vh;
    }

    .nav-wrapper .about-logo {
        max-width: 100%;
        max-height: 4vh;
        object-fit: cover;
        margin-top: 3vh;
        margin-bottom: 3vh;
    }

    .landing-elements #reservasi-button {
        width: 35vw;
    }

    .contact-us {
        width: 40vw;
        bottom: 2vh;
        right: 6vw;
    }

    .about-elements {
        flex-direction: column;
    }

    .about-images {
        align-items: center;
    }

    .about-text {
        padding-top: 3vh;
        width: 100%;
    }

    .about-text img {
        min-width: 150px;
    }

    .schedule .schedule-title {
        top: 15vh;
    }

    .card {
        max-height: 50vh;
    }

    .card-content button p {
        font-size: smaller;
    }

    .carousel-slider {
        width: 80vw;
    }

    .location-elements {
        gap: 5vh;
    }

    .location-logo {
        display: flex;
        justify-content: center;
        max-width: 35vw;
    }

    .address {
        width: 80vw;
    }

    .socials {
        width: 80vw;
    }
    
    .address-detail h6 {
        font-size: smaller;
    }

    .socials .instagram-text {
        border-radius: 30px;
        padding: 0 3vw 1vw 3vw;
    }

    .socials .instagram-text h6 {
        font-size: smaller;
    }
    
    .socials .facebook-text {
        border-radius: 30px;
        padding: 0 3vw 1vw 3vw;
    }

    .socials .facebook-text h6 {
        font-size: smaller;
    }
}

@media (max-height: 450px) {
    .schedule .schedule-cards {
        height: 85vh;
    }

    #schedule .carousel-item {
        max-width: 15vw;
    }
    
    .carousel-item .card-reveal * {
        font-size: small;
    }
}