html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html,
button, input, optgroup, select, textarea {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

/* BANNER SECTION */
.banner {
    display: flex;
    position: relative;
    align-items: center;
}

/* NAVIGATION & SIDENAV */
.sidenav {
    justify-content: center;
    align-items: center;
}

.show-nav {
    transform: translateY(-9%);
    transition: transform 0.3s ease;
}

.hidden-nav {
    transform: translateY(-110%);
    transition: transform 0.3s ease;
}

/* Change position for Contact-us Button */
.bottom-right {
    transform: translateY(80dvh);
    transition: transform 0.3s ease; /* Add smooth transition effect */
}

nav ul li a:hover {
    background-color: white !important;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4%;
    padding-right: 4%;
}

.nav-wrapper#navbar-top {
    background-image: linear-gradient(to bottom left, rgb(211, 192, 192) -90%, whitesmoke);
    width: auto;
}

.nav-wrapper#navbar-bottom {
    background-image: linear-gradient(to bottom, rgb(227, 215, 215) -90%, whitesmoke);
}

.nav-wrapper img {
    max-width: 15dvw;
    max-height: 100%;
    object-fit: cover;
    margin-top: 3dvh;
    margin-bottom: 3dvh;
}

.nav-wrapper.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-wrapper.content a {
    padding-left: 3dvw;
    padding-right: 3dvw;
    font-size: 3dvh;
}

.navbar-address {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 35%;
    font-size: 2.5dvh;
}

.navbar-address p {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    text-align: center;
}

.navbar-address span {
    padding: 1px;
    margin: 1px;
}

.navbar-address p {
    padding: 0;
    margin: 0;
}

.hamburger-icon {
    display: flex;
    justify-content: flex-end;
}

.contact-us {
    position: fixed;
    padding-top: 3dvh;
    z-index: 1000;
    width: 20dvw;
    right: 5dvw;
    height: auto;
    cursor: pointer; 
    transition: transform 0.3s ease;
}

.contact-us img {
    width: 100%; /* Set width to 100% to fill the parent div */
    height: 100%; /* Set height to 100% to fill the parent div */
    cursor: pointer; 
    transition: filter 0.3s ease-out;
}

.contact-us img:hover {
    filter: brightness(1.2);
    transition: filter 0.3s ease;
}

/* LANDING SECTION */
.landing {
    /* background-color: whitesmoke; */
    background-image: url(../imgs/bg/bg.jpg);
    background-size: cover;
    background-position: center;
    height: 100dvh;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.landing-elements {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    bottom: 20dvh;
    left: 3dvw;
    max-width: 45dvw;
    z-index: 1;
}

.landing-elements h1 {
    text-shadow: 1px 2px 2px black;
    font-size: 4dvw;
}

.landing-elements h4 {
    text-shadow: 1px 2px 2px rgb(54, 70, 62);
    font-size: 2.3dvw;
}

.landing-elements #reservasi-button {
    margin-top: 5dvh;
    font-size: 3dvh;
}

.landing-overlay {
    background: linear-gradient(to top, rgb(7, 194, 135), rgb(255, 0, 0, 0));
    width: 100%;
    height: 100%;
    opacity: 0.5;
    position: absolute;
}

#reservasi-button {
    border-radius: 30px;
    width: 15dvw;
}

/* ABOUT SECTION */
.about {
    background-color: gainsboro;
    background-position: center;
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.about-overlay {
    background: linear-gradient(to right, rgb(95, 254, 183), rgb(255, 0, 0, 0));
    width: 100%;
    height: 100%;
    opacity: 0.3;
    position: absolute;
}

.about-elements {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 80%;
    margin: 5em;
    gap: 4dvw;
    z-index: 1;
}

.about-images {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    gap: 2dvh;
    width: 50%;
}

.about-img#about-img-1 img {
    display: flex;
    flex-wrap: wrap;
    min-width: 250px;
    max-width: 30dvw;
    border-radius: 20px;
}

.about-img#about-img-2 img {
    display: flex;
    flex-wrap: wrap;
    min-width: 250px;
    max-width: 29dvw;
    border-radius: 20px;
}

.about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
}

.about-text img {
    align-self: center;
    min-width: 150px;
    max-width: 15dvw;
}

.about-text h2 {
    font-size: 8dvh;
}

.about-text p {
    font-size: 3dvh;
}

/* SCHEDULE SCHEDULE */
.schedule {
    /* background-color: whitesmoke; */
    background-image: url(resources/imgs/bg/4.png);
    background-size: cover;
    background-position: center;
    background-color: rgba(255, 7, 194, 135);
    height: 100dvh;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.schedule .schedule-title {
    position:absolute;
    justify-content: start;
    vertical-align: top;
    top: 5dvh;
    right: 15dvw;
    z-index: 2;
}

.schedule .schedule-title h2 {
    text-shadow: 1px 2px 2px black;
    border-radius: 25px;
    font-size: 7dvh;
}

#schedule {
    height: 100dvh;
    width: 100%;
    z-index: 1;
}

#schedule .carousel-item {
    /* background-color: white; */
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 5dvh;
    min-width: 24dvw;
    max-width: 60dvw;
}

.card {
    min-width: 10dvw;
}

.card-image img {
    background-color: white;
    /* width: 50dvh; */
    width: 100%;
    height: 100%;
    max-height: 45dvh;
    object-fit: contain;
}

.card-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-content .card-title {
    font-size: small;
}

.card-content .jadwal {
    border-radius: 25px;
}

.card-content p{
    font-size: small;
}

/* RESULT SECTION */
.result {
    /* background-color: gainsboro; */
    background-image: url(resources/imgs/bg/6.png);
    background-size: cover;
    background-position: center;
    height: 100dvh;
    width: 100dvw;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.result .result-title {
    position:absolute;
    justify-content: end;
    vertical-align: top;
    top: 5dvh;
    left: 15dvw;
}

.carousel-slider {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    background-color: red;
    width: 50dvw;
    max-height: 50dvh;
}

.carousel-slider .carousel-item {
    /* background-color: white; */
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

.carousel-slider .carousel-item img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    object-fit: contain;
}

.testimony {
    background-color: blue;
    width: 40dvw;
}

/* LOCATION SECTION */
.location {
    background-color: whitesmoke;
    height: 100dvh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.location-overlay {
    background: linear-gradient(to right, rgb(95, 254, 183), rgb(255, 0, 0, 0));
    width: 100%;
    height: 100%;
    opacity: 0.3;
    position: absolute;
}

.location-elements {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2dvh;
    padding: 0;
    margin: 0;
}

.map-images {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 2dvw;
    padding: 0;
    margin: 0;
}

.location-logo {
    display: flex;
    justify-content: center;
    max-width: 20dvw;
}

.location-logo img {
    width: 100%;
}

.location-image img {
    min-width: 14dvw;
}

.map-images .map-location iframe{
    max-width: 35dvw;
    max-height: 50dvh;
}

.address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.address h5 {
    font-size: 1.5dvw;
}

.address .address-detail {
    padding: 0 1dvw 1dvh 1dvw;
    border-radius: 30px;
    max-width: 70dvw;
    align-self: center;
}

.address .address-detail h5 {
    font-size: 1.5dvw;
} 

.socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    gap: 10vw;
}

.socials h6 {
    font-size: 1dvw;
}

.socials .instagram {
    border-radius: 30px;
    padding: 0 1dvw 1dvh 1dvw;
}

.socials .facebook {
    border-radius: 30px;
    padding: 0 1dvw 1dvh 1dvw;
}

/* Smaller Screen */
@media (max-width: 992px) {
    .show-nav {
        transform: translateY(-25%);
        transition: transform 0.3s ease;
    }

    .hidden-nav {
        transform: translateY(-110%);
        transition: transform 0.3s ease;
    }

    .navbar-address {
        display: none;
    }
    
    .nav-wrapper.content {
        display: none;
    }

    .contact-us {
        width: 25dvw;
        bottom: 2dvh;
        right: 10dvw;
    }

    .landing-elements {
        justify-content: center;
        align-items: center;
        top: auto;
        left: auto;
        /* bottom: 0; */
        text-align: center;
        max-width: 70dvw;
    }

    .landing-elements h1 {
        text-shadow: 1px 2px 2px black;
        font-size: 5dvh;
    }

    .landing-elements h4 {
        /* text-shadow: 1px 2px 2px black; */
        font-size: 4dvh;
    }

    #reservasi-button {
        min-width: 150px;
        width: 35dvw;
        /* padding: 5px 5px 5px 5px; */
        font-size: 3dvh;
    }

    .schedule .schedule-title {
        right: auto;
    }

    .location-image {
        display: none;
    }

    .map-images .map-location iframe{
        max-width: 50dvw;
        max-height: 40dvh;
    }
}

@media (max-width: 450px) {
    #reservasi-button {
        /* min-width: 150px; */
        width: 35dvw;
        /* padding: 5px 5px 5px 5px; */
        font-size: 4dvw;
    }

    .contact-us {
        width: 40dvw;
        bottom: 2dvh;
        right: 3dvw;
    }

    .about-elements {
        flex-direction: column;
    }

    .about-images {
        align-items: center;
    }

    .about-text {
        padding-top: 3dvh;
        width: 100%;
    }

    .about-text img {
        /* position: absolute; */
        min-width: 150px;
    }

    .about-text h2 {
        font-size: 5dvh;
    }

    .schedule .schedule-title {
        top: 15dvh;
    }

    .schedule .schedule-title h2 {
        font-size: 10dvw;
    }

    .location-elements {
        gap: 5dvh;
    }

    .address h5 {
        font-size: 4dvw;
    }

    .address .address-detail h5 {
        font-size: 4dvw;
    } 

    .socials h6 {
        font-size: 3dvw;
    }
    
    .socials .instagram {
        border-radius: 30px;
        padding: 0 3dvw 0 3dvw;
    }
    
    .socials .facebook {
        border-radius: 30px;
        padding: 0 3dvw 0 3dvw;
    }
}